## Data Download & Exploration

In [1]:
from pandas.api.types import is_string_dtype, is_numeric_dtype, is_categorical_dtype
from fastai.tabular.all import *

pd.options.display.max_rows = 20
pd.options.display.max_columns = 100

### Data Download

In [4]:
# getting path to kaggle data
path = URLs.path('march-comp')
path

Path('/storage/archive/march-comp')

In [5]:
Path.BASE_PATH = path

We can use the Kaggle API to download the dataset to that path, and extract it:

In [6]:
# if not path.exists():
#     path.mkdir(parents=true)
#     api.competition_download_cli('tabular-playground-series-mar-2021', path=path)
#     file_extract(path/'tabular-playground-series-mar-2021.zip')

# path.ls(file_type='text')

Now that we have downloaded our dataset, let's take a look at it!

### Data Exploration

In [7]:
df = pd.read_csv(path/'train.csv', low_memory=False)

In [8]:
df.columns

Index(['id', 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15',
       'cat16', 'cat17', 'cat18', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4',
       'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'target'],
      dtype='object')

In [9]:
df.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,cat15,cat16,cat17,cat18,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,A,LO,A,A,A,A,B,D,D,B,0.629858,0.855349,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,F,HJ,A,B,A,B,D,B,D,B,0.370727,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,L,DJ,A,B,A,A,B,D,D,B,0.502272,0.322749,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,F,KV,A,A,A,A,B,D,D,B,0.934242,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,A,DP,A,A,A,B,B,B,D,B,0.254427,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [10]:
# get unique variables for categorical columns & num of occurrences 
for i in ['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18']:
    print("{} value counts:\n{}\n".format(i, df[i].value_counts()))

cat0 value counts:
A    223525
B     76475
Name: cat0, dtype: int64

cat1 value counts:
I    90809
F    43818
K    41870
L    31891
H    17257
N    13231
M    11354
G    11248
A    10547
J    10036
O     8740
B     6847
C     1703
D      414
E      235
Name: cat1, dtype: int64

cat2 value counts:
A    168694
C     38875
D     22720
G     18225
Q     10901
F      9877
J      9102
M      8068
I      5287
L      3997
O      2749
N       340
H       219
B       218
S       197
U       166
R       129
K       126
E       110
Name: cat2, dtype: int64

cat3 value counts:
A    187251
B     79951
C     15957
D      8676
E      3318
F      2489
K       846
G       372
L       292
J       286
H       274
I       177
N       111
Name: cat3, dtype: int64

cat4 value counts:
E    129385
F     76678
G     30754
D     27919
H     23388
J      4307
I      3241
K      1481
M       547
C       506
O       330
B       301
S       285
T       215
L       214
Q       117
P       100
A        92
N        81
R        59
Name: cat4, dtype: int64

cat5 value counts:
BI    238563
AB     41639
BU      6740
K       2713
G        683
       ...
ZZ        25
B         24
BP        19
AG        19
CB        18
Name: cat5, Length: 84, dtype: int64

cat6 value counts:
A    187896
C     71427
E     16581
G     11198
I      6648
M      2182
K      1552
O       673
S       583
F       312
D       214
Y       212
B       172
U       155
Q       124
W        71
Name: cat6, dtype: int64

cat7 value counts:
AH    45818
E     39601
AS    25326
J     16135
AN    16097
      ...
AB      539
AE      458
T       379
AJ      229
AQ      205
Name: cat7, Length: 51, dtype: int64

cat8 value counts:
BM    42380
AE    24442
AX    22129
Y     20864
H     15561
      ...
AQ       69
T        67
AC       57
B        57
AR       33
Name: cat8, Length: 61, dtype: int64

cat9 value counts:
A    201945
E     33046
C     23360
F     14371
J      8982
I      7931
N      4785
L      2957
R       862
V       360
B       280
G       214
Q       211
D       189
W       125
O       122
U       101
X        99
S        60
Name: cat9, dtype: int64

cat10 value counts:
DJ    31584
HK    30998
DP    23679
GS    16619
CR    14382
      ...
MW        1
AW        1
GH        1
LK        1
ML        1
Name: cat10, Length: 299, dtype: int64

cat11 value counts:
A    258932
B     41068
Name: cat11, dtype: int64

cat12 value counts:
A    257139
B     42861
Name: cat12, dtype: int64

cat13 value counts:
A    292712
B      7288
Name: cat13, dtype: int64

cat14 value counts:
A    160166
B    139834
Name: cat14, dtype: int64

cat15 value counts:
B    203574
D     83188
A     11072
C      2166
Name: cat15, dtype: int64

cat16 value counts:
D    206906
B     84541
C      5369
A      3184
Name: cat16, dtype: int64

cat17 value counts:
D    247125
B     26136
C     25325
A      1414
Name: cat17, dtype: int64

cat18 value counts:
B    255482
D     22394
C     21414
A       710
Name: cat18, dtype: int64

In [11]:
# get cardinality of categorical columns
for i in ['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18']:
    print("{} \n # of unique values: {} \n unique values: {} \n".format(i, len(df[i].unique()), df[i].unique()))

cat0
 # of unique values: 2
 unique values: ['A' 'B']

cat1
 # of unique values: 15
 unique values: ['I' 'K' 'A' 'F' 'L' 'N' 'J' 'M' 'O' 'B' 'H' 'G' 'C' 'D' 'E']

cat2
 # of unique values: 19
 unique values: ['A' 'G' 'C' 'O' 'D' 'F' 'Q' 'J' 'L' 'I' 'M' 'H' 'U' 'N' 'R' 'E' 'K' 'S' 'B']

cat3
 # of unique values: 13
 unique values: ['B' 'A' 'C' 'D' 'G' 'N' 'H' 'F' 'E' 'K' 'I' 'J' 'L']

cat4
 # of unique values: 20
 unique values: ['B' 'E' 'H' 'I' 'D' 'F' 'G' 'M' 'K' 'J' 'T' 'C' 'L' 'P' 'S' 'O' 'N' 'Q' 'A' 'R']

cat5
 # of unique values: 84
 unique values: ['BI' 'AB' 'BU' 'M' 'T' 'K' 'L' 'CG' 'BG' 'CI' 'N' 'G' 'X' 'Q' 'O' 'BO' 'BB' 'BX' 'AF' 'BA' 'BQ' 'CA' 'D' 'AQ' 'AS' 'AW' 'BE' 'CK' 'AL' 'BK' 'AT' 'CL' 'C' 'CF' 'I' 'AH' 'CD' 'AY' 'BY' 'F' 'AI' 'R'
 'BC' 'BH' 'AA' 'V' 'CE' 'BD' 'AE' 'U' 'AU' 'AP' 'CJ' 'AN' 'AX' 'AR' 'BL' 'J' 'ZZ' 'BR' 'BV' 'H' 'A' 'CC' 'P' 'CH' 'BJ' 'CB' 'BS' 'BN' 'AO' 'AJ' 'BT' 'S' 'E' 'Y' 'AK' 'AM' 'B' 'BM' 'AV' 'AG' 'BF'
 'BP']

cat6
 # of unique values: 16
 unique values: ['A' 'K' 'C' 'I' 'G' 'E' 'M' 'F' 'O' 'D' 'Q' 'S' 'B' 'Y' 'U' 'W']

cat7
 # of unique values: 51
 unique values: ['S' 'W' 'E' 'Y' 'G' 'AV' 'AF' 'AK' 'AH' 'AN' 'J' 'H' 'U' 'AG' 'AS' 'AA' 'B' 'F' 'AI' 'K' 'AD' 'D' 'N' 'I' 'AW' 'AY' 'AX' 'L' 'AL' 'C' 'R' 'P' 'AU' 'O' 'AR' 'AO' 'AE' 'AP' 'A' 'V' 'Q' 'AQ' 'X' 'BA'
 'AM' 'AC' 'M' 'AT' 'T' 'AB' 'AJ']

cat8
 # of unique values: 61
 unique values: ['Q' 'AD' 'BM' 'Y' 'AG' 'AE' 'AX' 'H' 'BD' 'AO' 'X' 'L' 'M' 'AT' 'BH' 'J' 'AU' 'AF' 'S' 'BO' 'N' 'AN' 'BC' 'AS' 'K' 'AW' 'I' 'BJ' 'F' 'A' 'AJ' 'AK' 'BL' 'AL' 'AY' 'BN' 'AM' 'AV' 'U' 'BI' 'BK' 'AP'
 'P' 'E' 'BG' 'O' 'C' 'AI' 'BB' 'G' 'AH' 'BA' 'V' 'B' 'BF' 'BE' 'AQ' 'AC' 'AB' 'AR' 'T']

cat9
 # of unique values: 19
 unique values: ['A' 'F' 'L' 'C' 'E' 'I' 'J' 'N' 'V' 'R' 'D' 'X' 'B' 'Q' 'W' 'G' 'O' 'U' 'S']

cat10
 # of unique values: 299
 unique values: ['LO' 'HJ' 'DJ' 'KV' 'DP' 'GE' 'HQ' 'HC' 'EK' 'GS' 'HG' 'BY' 'HX' 'JK' 'FJ' 'LM' 'HK' 'MD' 'IG' 'JG' 'AN' 'AD' 'MC' 'KW' 'CK' 'LF' 'CS' 'GK' 'DC' 'LB' 'FM' 'IH' 'LN' 'IK' 'DF' 'IB' 'CB' 'LY' 'JW'
 'FI' 'CR' 'IE' 'LE' 'HB' 'HV' 'LG' 'BG' 'KP' 'LI' 'HL' 'BF' 'LU' 'O' 'GI' 'DQ' 'IR' 'DV' 'HA' 'KB' 'FP' 'AT' 'IF' 'HN' 'GC' 'C' 'KC' 'G' 'JA' 'CU' 'BC' 'AB' 'KF' 'MB' 'HE' 'BL' 'FQ' 'IA' 'MJ' 'FO'
 'V' 'JT' 'AU' 'IO' 'GQ' 'CC' 'JR' 'BM' 'HH' 'AV' 'GT' 'I' 'IU' 'JN' 'EV' 'MV' 'EQ' 'LW' 'FN' 'IT' 'AA' 'DK' 'IJ' 'GU' 'P' 'JH' 'CM' 'GA' 'R' 'LX' 'IX' 'DY' 'D' 'FL' 'CP' 'GL' 'DI' 'CD' 'IV' 'FS'
 'FR' 'J' 'MP' 'MH' 'EL' 'JD' 'AP' 'AE' 'F' 'LC' 'BP' 'BI' 'MF' 'DO' 'MG' 'MT' 'LD' 'CW' 'KS' 'BV' 'JV' 'BB' 'AM' 'KX' 'FK' 'AH' 'LV' 'W' 'DU' 'FB' 'JX' 'KA' 'CO' 'AR' 'KR' 'JI' 'T' 'JP' 'LQ' 'FX'
 'FD' 'EY' 'Y' 'JO' 'EC' 'HM' 'AC' 'DW' 'HU' 'FH' 'AY' 'AL' 'GD' 'GB' 'DS' 'FT' 'KH' 'CG' 'JB' 'E' 'CN' 'BT' 'X' 'BX' 'HW' 'EI' 'ID' 'KT' 'GR' 'L' 'KG' 'EA' 'HO' 'GX' 'K' 'AS' 'DM' 'AK' 'FC' 'MS'
 'HR' 'EU' 'ES' 'JY' 'HP' 'KL' 'FE' 'CY' 'EO' 'KJ' 'CJ' 'CI' 'JL' 'IC' 'S' 'DH' 'GN' 'BS' 'AG' 'M' 'EW' 'FA' 'LJ' 'GJ' 'KQ' 'HF' 'MR' 'BQ' 'ED' 'FG' 'LL' 'EG' 'HY' 'EH' 'GW' 'BD' 'IQ' 'Q' 'DA' 'DD'
 'GM' 'KN' 'MQ' 'GY' 'KD' 'JJ' 'CL' 'IY' 'KU' 'CT' 'KK' 'DN' 'BO' 'IP' 'LH' 'IM' 'DE' 'ME' 'EE' 'LT' 'LR' 'MI' 'CF' 'DR' 'EB' 'KI' 'DX' 'DL' 'MW' 'FF' 'EF' 'EP' 'MU' 'MA' 'GG' 'CQ' 'DT' 'FV' 'CH'
 'AF' 'AJ' 'IN' 'JC' 'EN' 'JU' 'JE' 'ML' 'AW' 'HI' 'MO' 'GF' 'MK' 'GH' 'FW' 'GV' 'JF' 'BA' 'LK' 'IL' 'CX']

cat11
 # of unique values: 2
 unique values: ['A' 'B']

cat12
 # of unique values: 2
 unique values: ['A' 'B']

cat13
 # of unique values: 2
 unique values: ['A' 'B']

cat14
 # of unique values: 2
 unique values: ['A' 'B']

cat15
 # of unique values: 4
 unique values: ['B' 'D' 'A' 'C']

cat16
 # of unique values: 4
 unique values: ['D' 'B' 'C' 'A']

cat17
 # of unique values: 4
 unique values: ['D' 'C' 'B' 'A']

cat18
 # of unique values: 4
 unique values: ['B' 'C' 'D' 'A']

In [12]:
# get details on continuous vars
df.describe()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,250183.425697,0.504749,0.494073,0.516632,0.474235,0.504848,0.502257,0.488229,0.501739,0.488074,0.469496,0.508230,0.264870
std,144320.334812,0.206788,0.213037,0.214851,0.216636,0.227474,0.241243,0.211335,0.203496,0.179048,0.194516,0.203393,0.441265
min,0.000000,-0.049562,0.084480,0.094493,-0.045316,0.168071,-0.036379,0.005199,0.090901,0.024139,0.214866,0.097789,0.000000
25%,125399.750000,0.344985,0.317363,0.326047,0.292249,0.279303,0.276442,0.323914,0.353054,0.358915,0.309934,0.368312,0.000000
50%,250192.500000,0.479650,0.463170,0.471247,0.387564,0.479858,0.554768,0.518089,0.435404,0.410908,0.407477,0.446576,0.000000
75%,375246.250000,0.637657,0.693992,0.704625,0.644950,0.725779,0.735225,0.608537,0.642023,0.612725,0.586793,0.581957,1.000000
max,499999.000000,1.004559,1.009958,1.016600,0.952187,0.858578,0.853022,0.966553,1.035818,1.055885,1.005652,1.011331,1.000000

In [13]:
# drop id col
del df['id']

In [14]:
# define dependent var
dep_var = 'target'

In [15]:
# get distribution of dependent var
df[dep_var].value_counts()

0    220539
1     79461
Name: target, dtype: int64

In [16]:
# checking ratio 1s to 0s
df[dep_var].value_counts()[1] / df[dep_var].value_counts()[0]

0.3603036197679322

A second piece of preparatory processing is to be sure we can handle strings and missing data. Out of the box, sklearn cannot do either. Instead we will use fastai's class `TabularPandas`, which wraps a Pandas DataFrame and provides a few conveniences. To populate a `TabularPandas`, we will use two  `TabularProc`s, `Categorify` and `FillMissing`. A `TabularProc` is like a regular `Transform`, except that:

- It returns the exact same object that's passed to it, after modifying the object in place.
- It runs the transform once, when data is first passed in, rather than lazily as the data is accessed.

`Categorify` is a `TabularProc` that replaces a column with a numeric categorical column. `FillMissing` is a `TabularProc` that replaces missing values with the median of the column, and creates a new Boolean column that is set to `True` for any row where the value was missing. These two transforms are needed for nearly every tabular dataset you will use, so this is a good starting point for your data processing:

### Saving Tabular Object

In [17]:
# transforms to apply to df
procs = [Categorify]

In [18]:
# split continuous & categorical vars
cont,cat = cont_cat_split(df, 1, dep_var=dep_var)

In [19]:
# create random train/validation split
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [20]:
# create tabularpandas object
to = TabularPandas(df, procs, cat, cont, y_names=dep_var, y_block=CategoryBlock, splits=splits)

In [21]:
# checking split was good
len(to.train),len(to.valid)

(240000, 60000)

In [22]:
# ratio 1s to 0s for validation set - compare with full dataset
to.valid[dep_var].value_counts()[1] / to.valid[dep_var].value_counts()[0]

0.3633574950578291

In [23]:
# ratio 1s to 0s for training set - compare with full dataset
to.train[dep_var].value_counts()[1] / to.train[dep_var].value_counts()[0]

0.3595422874298986

In [24]:
to.show(5)

Since it takes a minute or so to process the data to get to this point, we should save it—that way in the future we can continue our work from here without rerunning the previous steps. fastai provides a `save` method that uses Python's *pickle* system to save nearly any Python object:

In [25]:
# saving tabularpandas object
save_pickle(path/'march_tabular.pkl',to)